/* .text-field-error {
    outline: none;
    border-color: #ff2f2f;
    box-shadow: 0 0 5px #ff0e0e;
  } */

  .form-control:focus {
    border-color: rgb(160, 160, 160);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(160, 160, 160, 0.9);
  }

  .form-control-error {
    border-color: rgb(255, 0, 0);
  }


  .form-control-error:focus {
    border-color: rgb(255, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }